@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app {
  min-height: 100vh;
  width: 100%;
}
button,
svg {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
button,
svg,
input,
body,
a {
  font-size: $fontSize;
  color: $textColor;
  font-family: $fontFamily;
  transition: 220ms color ease;
}
a {
  text-decoration: none;
}
.icon-active {
  color: $greenLight;
}
